* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* before import opencv */
.loading {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading h1 {
  animation: loadingAnimation 2s linear infinite;
}
.hide {
  /* main page before loading */
  opacity: 0 !important;
  z-index: -99 !important;
  height: 0 !important;
  width: 0 !important;
}
@keyframes loadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}


/* main application */
.main {
  width: 100vw;
  height: 100wh;
  background-color: white;
}
#input_box {
  border: 2px dashed blue;
  margin: 1rem 1rem 0 1rem;
  border-radius: 1rem;
  height: 120px;
}
#input_back {
  position: absolute;
  width: 95%;
  height: 120px;
  text-align: center;
  margin: 0 auto;
}
#input_box input {
  width: 95%;
  height: 120px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}